.header {
    background-color: #FFBF5E;
    color: #FF6B6B;
    display:flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: solid 10px #FFE484;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    width: 20%;
    padding-left: 10px;
}

.title {
    font-weight: bold;
    font-size: 1.2em;
}

.lefth {
    display:flex;
    align-items: center;
    width: 100%;
    margin: 10px;
    text-align: left;
}

a {
    padding: 0;
}
