.header {
    background-color: #FFBF5E;
    color: #FF6B6B;
    display:flex;
    justify-content: space-between;
}

.fond {
    background-color: #FFE484;
    padding-bottom: 10px;
    display: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    width: 20%;
    padding-left: 10px;
}

.title {
    font-weight: bold;
    font-size: 1.2em;
}

.lefth {
    display:flex;
    justify-content:space-between;
    align-items: center;
    width: 50%;
    margin: 10px 0 10px 10px;

}
