.footer {
    background-color: #FFBF5E;
    color: #FF6B6B;
    border-top: solid 10px #FFE484;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.newsletter {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 10px;
}

.subscribe {
    font-weight: bold;
    font-size: 0.9em;
    font-family: Khand;
}

.txt {
    background:#FFBF5E;
    border: solid white 1px;
    border-right: none;
}

.txt input::placeholder {
    color: blue !important;
  }

.subm {
    background: #FF6B6B;
    color: white;
    border: solid white 1px;
    padding: 0;
    border-left: none;
}

.arrow {
    width: 50%;
}