.navbug {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #FFBF5E ;
  padding: 10px 20px 0 20px;
  border-radius: 5px;
  transition: transform 0.3s ease;
  transform: translateY(-10px);
}

.navbug.open {
  display: block;
  transform: translateY(0);
}

.navbug a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbug a:hover {
  background-color: #FF6B6B ;
}


button {
  margin-bottom: 10px;
  padding: 3% 10%;
  border-radius: 20px;
  background-color: #FF6B6B;
  border: #FFBF5E;
  color: white;
}